*,*::before,*::after{
    box-sizing: border-box;
}
:root{
    --color-primary:#fec7d7;
    --color-secondary:#d9d4e7;
    --color-accent:#a786df;
    --color-text:#0e172c;
    --color-border:#ccc;
    --border-radius:36px;
}
html{
    /* 62.5% * 16px=10px */
    font-size:62.5%;
  }
body{
    font-family:'Noto Sans SC',Georgia, 'Times New Roman', Times, serif; 
    color:var(--color-primary);
    font-size:1.777rem;
    line-height:1.5;
}





/*字体*/
h1, h2, h3, h4, h5, h6 {
    margin:1rem;
    color:var(--color-text);
  }
h1{
    font-size: 5.61rem;
  }
h2{
    font-size: 4.209rem;
  }
h3{
    font-size: 3.157rem;
  }
  h4{
    font-size: 2.369rem;
  }
  h5{
    font-size: 1.777rem;
  }
h6{
    font-size:1.2rem;
  }
p{
    margin: 0px 0px ;
    padding: 0;
    font-weight: normal;
    font-size:1.7rem;
    font-style:normal;
    text-align: center; 
    color:var(--color-text);
}



/*links*/
a{
    text-decoration:none;
    font-size: 1.7rem;
    font-weight:bold;
}
.link-arrow{
    color:var(--color-accent);
    text-transform:uppercase;
}
.link-arrow::after{
    content:'-->';
    margin-left:5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after{
    margin-left:10px;
}



/*badges*/
.badge{
    border-radius: 20px;
    font-size:2rem;
    font-weight:500;
    padding: 0.5rem 2rem;
    white-space:nowrap;
    text-transform:uppercase;
}
.badge--primary{
    background-color: var(--color-primary);
    color:var(--color-text);
}
.badge--secondary{
    background-color: var(--color-secondary);
    color:var(--color-text);
}
.badge--small{
    font-size:1.6rem;
    padding:0.5rem 1.5rem;
}





/*lists*/
.list{
    list-style:none;
    padding-left:0;
    color:var(--color-text);
}
.list--inline .list_item {
    display:inline-block;
    margin-right:2rem;
}
.list--tick{
    list-style-image:url(../images/tick.svg);
    padding-left:3rem;
}
.list--tick .list_item{
    padding-left:1rem;
    margin-bottom:1rem;
}
.list_item{
    color:var(--color-text)
}



/*icons*/
.icon{
    width:40px;
    height:40px;
}

.icon-primary{
    fill:var(--color-text);
}
.icon-container{
    background:var(--color-secondary);
    width:80px;
    height:80px;
    border-radius:100%;
    display:inline-flex;
    justify-content:center;
    align-items:center;
}


/*buttons*/
.btn{
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    font-size: 1.707rem;
    font-weight: 600;
    margin:1rem 0;
    padding: 2rem 3rem;
    text-transform:uppercase;
    white-space: nowrap;
    text-align: center;
}
.btn-element {
    background-color:var(--color-text);
    color: #fffffe;
    
}

.btn-pink {
    background-color:var(--color-primary);
    color: var(--color-text);
    
}

.btn-purple {
    background-color:var(--color-secondary);
    color:var(--color-text);   
}


.btn-element:hover {
    background-color: var(--color-accent);
}
.btn-pink:hover { 
    background-color: var(--color-accent);
    color: var(--color-text);
}
.btn-purple:hover {
    background-color:var(--color-accent);
    color: var(--color-text);
}
.btn--block{
    width:100%;
    display: inline-block;
}
.btn--outline {
    background:#fffffe;
    color:var(--color-accent);
    border: 2px solid var(--color-accent);
}

.btn--outline:hover {
    background:var(--color-accent);
    color:#fffffe;
}



/*inputs*/
.input{
    padding: 1.5rem 3.5rem;
    border: 1px solid #ccc;
    border-radius:var(--border-radius);
    outline:0;
    color:var(--color-text)
}
::placeholder{
    color:#d9d4e7;
    font-size:2rem;
}
.input-group{
    border: 1px solid var(--color-border );
    border-radius: var(--border-radius);
    display:flex;
}
.input-group .input{
    border:0;
    flex-grow: 1;
    padding-left: 0;
}
.input-group .btn{
    margin:4px;
}


/*card*/
.card{
    border-radius: 7px;
    box-shadow:0 0 20px 10px #f3f3f3;
    overflow: hidden;
}
.card__header, .card__body{
    padding: 2rem 3rem;
}
.card--primary .card__header{
    background: var(--color-primary);
    color: var(--color-text);
}
.card--secondary .card__header{
    background: var(--color-accent);
    color: var(--color-secondary);
}



/*plans*/
.plan__name{
    color:#fff;
    margin:0;
    font-weight:500;
    font-size:2.4rem;
}
.plan__price{
    font-size:6rem;
}
.plan__billing-cycle{
    font-size:2.4rem;
    font-weight:300;
    opacity: 0.8;
    margin-right: 1rem; 
}
.plan__description{
    font-size: 2rem;
    font-weight:300;
    letter-spacing:1px;
    display:block;
}
.plan .list__item{
    margin-bottom: 2rem;
}
.plan--popular .card__header{
    position:relative;
}
.plan--popular .card__header::before{
    content:url(../images/medal.svg);
    width:50px;
    display:inline-block;
    position:absolute;
    top:-5px;
    right:5%;
}


/*media*/
.media{
    display:flex;
}
.media__title{
    margin-top:0;
}
.media__body{
    margin:0 2rem;
}
.media__image{
    margin-top: 1rem;
}



/*quotes*/
.quote{
    font-size:3rem;
    font-style:italic;
    color:var(--color-secondary);
}
.quote__text{
    color:var(--color-secondary);
}
.quote__text::before{
     content:open-quote;
}
.quote__text::after{
    content:close-quote;
}
.quote__author{
    font-size:3rem;
    font-style:normal;
    font-weight:500;
    color:var(--color-accent);
    margin-bottom: 0;
}
.quote_organization{
    color:var(--color-text);
    opacity: 0.4;
    font-size:2rem;
    font-style: normal;
}
.quote__line{
    position: relative;
    bottom:7px;
}
@media screen and (min-width:1024px) {
    body{
        font-size:1.707rem;
    }
    .link-arrow {
        font-size:1.5rem;
     }
    h1{
        font-size: 7.993rem;
      }
    h2{
        font-size: 5.653rem;
      }
    h3{
        font-size: 3.998rem;
      }
    h4{
        font-size: 2.827rem;
      }
    h5{
        font-size: 1.9.99rem;
      }
    h6{
        font-size:1.414rem;
      }
    p{
        margin: 0px 0px ;
        font-size:1.777rem;
        font-style:normal;
    }
    .badge{
        font-size:1.5rem;
    }
    .badge--small{
        font-size:1.2rem;
    }
    .list--tick .list_item{
        padding-left:0;

    }
    .btn{
        font-size:1.4rem;
    }
    ::placeholder{
        color:#d9d4e7;
        font-size:1.5rem;
    }
    .plan__name{
        font-size:1.4rem;
    }
    .plan__price{
        font-size:5rem;
    }
    .plan__billing-cycle{
        font-size:1.6rem;
    }
    .plan__description{
        font-size: 1.7rem;
    }
    .quote{
        font-size:2rem;
    }
    .quote__author{
        font-size:2.4rem;
    }
    .quote_organization{
        font-size:1.6rem;
    }
}
/*<a href="https://www.freepik.com/search">Icon by UIcons</a>*/