:root{
    --color-primary:#fec7d7;
    --color-secondary:#d9d4e7;
    --color-accent:#a786df;
    --color-text:#0e172c;
}
html{
    /* 62.5% * 16px=10px */
    font-size:62.5%;
  }
body{
    font-family:'Noto Sans SC',Georgia, 'Times New Roman', Times, serif; 
    color:var(--color-primary);
    font-size:1.777rem;
    line-height:1.5;
}
/*字体*/
h1, h2, h3, h4, h5, h6 {
    margin:1rem;
    color:var(--color-text);
  }
h1{
    font-size: 5.61rem;
  }
h2{
    font-size: 4.209rem;
  }
h3{
    font-size: 3.157rem;
  }
  h4{
    font-size: 2.369rem;
  }
  h5{
    font-size: 1.777rem;
  }
h6{
    font-size:1.2rem;
  }
p{
    margin: 0px 0px ;
    padding: 0;
    font-weight: normal;
    font-size:1.7rem;
    font-style:normal;
    text-align: center; 
}
/*links*/
a{
    text-decoration:none;
    font-size: 2rem;
    font-weight:bold;
}
.link-arrow{
    color:var(--color-accent);
    text-transform:uppercase;
}
.link-arrow::after{
    content:'-->';
    margin-left:5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after{
    margin-left:10px;
}
/*badges*/
.badge{
    border-radius: 20px;
    font-size:2rem;
    font-weight:500;
    padding: 0.5rem 2rem;
    white-space:nowrap;
}
.badge--primary{
    background-color: var(--color-primary);
    color:var(--color-text);
}
.badge--secondary{
    background-color: var(--color-secondary);
    color:var(--color-text);
}
.badge--small{
    font-size:1.6rem;
}

@media screen and (min-width:1024px) {
    body{
        font-size:0.707rem;
    }
    .link-arrow {
        font-size:1.5rem;
     }
    h1{
        font-size: 7.993rem;
      }
    h2{
        font-size: 5.653rem;
      }
    h3{
        font-size: 3.998rem;
      }
    h4{
        font-size: 2.827rem;
      }
    h5{
        font-size: 1.9.99rem;
      }
    h6{
        font-size:1.414rem;
      }
    p{
        margin: 0px 0px ;
        font-size:1rem;
        font-style:normal;
    }
    .badge{
        font-size:1.5rem;
    }
    .badge--small{
        font-size:1.2rem;
    }
}