<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/main.css" />

    <title>flip countdown</title>
  </head>
  <body>
    <main>
      <h1>2026考研倒计时</h1>
      <div class="countdown">
        <div class="countdown-block">
          <span class="days time-elem">
            <span class="top">00</span>
            <span class="top-back">
              <span>00</span>
            </span>
            <span class="bottom">00</span>
            <span class="bottom-back">
              <span>00</span>
            </span>
          </span>
          <span class="title">Days</span>
        </div>

        <div class="countdown-block">
          <span class="hours time-elem">
            <span class="top">00</span>
            <span class="top-back">
              <span>00</span>
            </span>
            <span class="bottom">00</span>
            <span class="bottom-back">
              <span>00</span>
            </span>
          </span>
          <span class="title">Hours</span>
        </div>

        <div class="countdown-block">
          <span class="minutes time-elem">
            <span class="top">00</span>
            <span class="top-back">
              <span>00</span>
            </span>
            <span class="bottom">00</span>
            <span class="bottom-back">
              <span>00</span>
            </span>
          </span>
          <span class="title">Minutes</span>
        </div>
      </div>
    <script src="./script.js"></script>
  </body>
</html>
