<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analog Clock</title>
    <link rel="stylesheet" href="../clock/style.css" />
  </head>

  <body>
    <div class="clock">
      <div class="clock-face">
        <div class="number number3">3</div>

        <div class="number number6">6</div>

        <div class="number number9">9</div>

        <div class="number number12">12</div>
        <div class="hand hour-hand"></div>
        <div class="hand minute-hand"></div>
        <div class="hand second-hand"></div>
      </div>
    </div>
    <div><p class="copyright">✨Powered by Fishbook</p></div>

    <script src="script.js"></script>
  </body>
</html>
