<section class="block container">
  <header class="block__header">
    <h2>hohcisgcdscoodsbcvol</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, fuga.
    </p>
  </header>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon-primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">super easy to use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas nostrum
        dicta voluptates mollitia omnis. Laborum eaque, quos omnis corrupti, qui
        voluptatem quibusdam in deserunt natus nemo fugiat minus animi commodi.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <img src="images/easy.jpg" alt="" class="feature__image" />
    </picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon-primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">super easy to use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas nostrum
        dicta voluptates mollitia omnis. Laborum eaque, quos omnis corrupti, qui
        voluptatem quibusdam in deserunt natus nemo fugiat minus animi commodi.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <img src="images/easy.jpg" alt="" class="feature__image" />
    </picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon-primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">super easy to use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas nostrum
        dicta voluptates mollitia omnis. Laborum eaque, quos omnis corrupti, qui
        voluptatem quibusdam in deserunt natus nemo fugiat minus animi commodi.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <img src="images/easy.jpg" alt="" class="feature__image" />
    </picture>
  </article>
</section>
<section class="block container">
  <header class="block__header">
    <h2>hohcisgcdscoodsbcvol</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, fuga.
    </p>
  </header>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon-primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">super easy to use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas nostrum
        dicta voluptates mollitia omnis. Laborum eaque, quos omnis corrupti, qui
        voluptatem quibusdam in deserunt natus nemo fugiat minus animi commodi.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <img src="images/easy.jpg" alt="" class="feature__image" />
    </picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon-primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">super easy to use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas nostrum
        dicta voluptates mollitia omnis. Laborum eaque, quos omnis corrupti, qui
        voluptatem quibusdam in deserunt natus nemo fugiat minus animi commodi.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <img src="images/easy.jpg" alt="" class="feature__image" />
    </picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon-primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">super easy to use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas nostrum
        dicta voluptates mollitia omnis. Laborum eaque, quos omnis corrupti, qui
        voluptatem quibusdam in deserunt natus nemo fugiat minus animi commodi.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <img src="images/easy.jpg" alt="" class="feature__image" />
    </picture>
  </article>
</section>
