<nav class="nav collapsible">
  <a class="nav_brand" href="/">
    <img src="images/fishbookavatar.PNG" alt="" class="avatar"
  /></a>
  <svg class="icon icon-primary nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">HOME</a></li>
    <li class="nav__item"><a href="#">BLOG</a></li>
    <li class="nav__item"><a href="#">STORE</a></li>
    <li class="nav__item"><a href="#">CONTACT</a></li>
  </ul>
</nav>
