<section class="salesplan block">
  <div class="grid grid--cols-3">
    <div style="padding: 4rem">
      <div class="plan">
        <div class="card card--secondary">
          <header class="card__header">
            <h3 class="plan__name">基础版</h3>
            <span class="plan__price">¥580</span>
            <span class="plan__billing-cycle"></span>
            <span class="badge badge--accent badge--small">10%off</span>
            <span class="plan__description">基础模版解决方案</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list_item">1h 线上产品需求讨论会，付50%定金</li>
              <li class="list_item">整理为产品需求文档，确认需求</li>
              <li class="list_item">设计模版整体框架，确认设计框架</li>
              <li class="list_item">半成品demo展示</li>
              <li class="list_item">成品demo展示</li>
              <li class="list_item">腾讯会议模版使用教学</li>
              <li class="list_item">一个月内模版使用答疑</li>
            </ul>
            <button class="btn btn-pink btn--block">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 4rem">
      <div class="plan plan--popular">
        <div class="card card--accent">
          <header class="card__header">
            <h3 class="plan__name">进阶版</h3>
            <span class="plan__price">¥780</span>
            <span class="plan__billing-cycle"></span>
            <span class="badge badge--secondary badge--small">10%off</span>
            <span class="plan__description">更多功能支持</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list_item">1h 线上产品需求讨论会，付50%定金</li>
              <li class="list_item">整理为产品需求文档，确认需求</li>
              <li class="list_item">设计模版整体框架，确认设计框架</li>
              <li class="list_item">半成品demo展示</li>
              <li class="list_item">成品demo展示</li>
              <li class="list_item">帮助客户录入个人知识库</li>
              <li class="list_item">腾讯会议模版使用教学</li>
              <li class="list_item">两个月内模版及Notion其他功能使用答疑</li>
              <li class="list_item">
                两个月内根据反馈进行一次模版的功能优化升级
              </li>
            </ul>
            <button class="btn btn-purple btn--block">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 4rem">
      <div class="plan">
        <div class="card card--secondary">
          <header class="card__header">
            <h3 class="plan__name">高级版</h3>
            <span class="plan__price">¥980</span>
            <span class="plan__billing-cycle"></span>
            <span class="badge badge--accent badge--small">10%off</span>
            <span class="plan__description">全功能支持和优化</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list_item">1h 线上产品需求讨论会，付50%定金</li>
              <li class="list_item">整理为产品需求文档，确认需求</li>
              <li class="list_item">设计模版整体框架，确认设计框架</li>
              <li class="list_item">半成品demo展示</li>
              <li class="list_item">成品demo展示</li>
              <li class="list_item">帮助客户录入个人知识库</li>
              <li class="list_item">腾讯会议模版使用教学</li>
              <li class="list_item">三个月内模版及Notion其他功能使用答疑</li>
              <li class="list_item">三个月内每月回访并优化升级</li>
            </ul>
            <button class="btn btn-pink btn--block">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
