<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2026考研倒计时</title>
    <link rel="stylesheet" href="countdown.css" />
  </head>
  <body>
    <div class="countdown-container">
      <h1>距离上岸还有</h1>
      <div class="countdown">
        <div class="time" id="days">
          <span class="time-number" id="days-number">0</span>
          <span class="time-label">Days</span>
        </div>
        <div class="time" id="hours">
          <span class="time-number" id="hours-number">0</span>
          <span class="time-label">hours</span>
        </div>
        <div class="time" id="minutes">
          <span class="time-number" id="minutes-number">0</span>
          <span class="time-label">minutes</span>
        </div>
        <div class="time" id="seconds">
          <span class="time-number" id="seconds-number">0</span>
          <span class="time-label">seconds</span>
        </div>
      </div>
    </div>

    <script src="countdown.js"></script>
  </body>
  <footer>
    <p class="copyright">
      🐬 Powered by
      <a href="https://fishbookstudio.github.io/websitetest/" target="_blank"
        >FishBook Studio</a
      >
    </p>
  </footer>
</html>
